* {
    scrollbar-width: thin;
    scrollbar-color: var(--gilde-secondary) var(--white-primary);
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--white-primary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--gilde-secondary);
    border-radius: 20px;
    border: 3px solid var(--white-primary);
}

.client-wrapper {
    max-height: calc(100vh - 4rem);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1% 1%;
    padding: 1rem;
    grid-auto-flow: row;
    grid-template-areas:
        "client-title client-title"
        "client-registration-wrapper client-list-wrapper";
}

.client-title {
    grid-area: client-title;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 38px;
}

.client-registration-wrapper {
    grid-area: client-registration-wrapper;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 2rem;
    border-radius: 1rem;
    background-color: #f0f4f8;
    box-shadow:
        1px 0.2px 2.2px rgba(0, 0, 0, 0.04),
        2.4px 0.5px 5.3px rgba(0, 0, 0, 0.029),
        4.5px 1px 10px rgba(0, 0, 0, 0.024),
        8px 1.8px 17.9px rgba(0, 0, 0, 0.02),
        15px 3.3px 33.4px rgba(0, 0, 0, 0.016),
        36px 8px 80px rgba(0, 0, 0, 0.011);
    padding: 1rem;
}

.client-registration-title-wrapper {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    height: 4rem;
    padding: 0 0 1rem 0;
}


.client-list-wrapper {
    grid-area: client-list-wrapper;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 2rem;
    border-radius: 1rem;
}

.client-list-title-wrapper {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    height: 8%;
    padding: 1rem;
    background-color: #f0f4f8;
    border-radius: 1rem;
    height: 13rem;
    box-shadow:
        1px 0.2px 2.2px rgba(0, 0, 0, 0.04),
        2.4px 0.5px 5.3px rgba(0, 0, 0, 0.029),
        4.5px 1px 10px rgba(0, 0, 0, 0.024),
        8px 1.8px 17.9px rgba(0, 0, 0, 0.02),
        15px 3.3px 33.4px rgba(0, 0, 0, 0.016),
        36px 8px 80px rgba(0, 0, 0, 0.011);
}

.client-list-item {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;
    gap: 0.8rem;
    background-color: #f0f4f8;
    box-shadow:
        1px 0.2px 2.2px rgba(0, 0, 0, 0.04),
        2.4px 0.5px 5.3px rgba(0, 0, 0, 0.029),
        4.5px 1px 10px rgba(0, 0, 0, 0.024),
        8px 1.8px 17.9px rgba(0, 0, 0, 0.02),
        15px 3.3px 33.4px rgba(0, 0, 0, 0.016),
        36px 8px 80px rgba(0, 0, 0, 0.011);
}

.input-field-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 1rem 0;
}

.input-field-wrapper input:focus {
    outline: none;
    border: 2px solid var(--gilde-secondary);
    margin: 1px 1px 0 0px;
}

.input-field-wrapper input {
    width: 100%;
    height: 52px;
    padding: 13px 15px;
    font-size: 16px;
    border-radius: 4px;
    color: var(--txt-tertiary);
    background-color: #f0f4f8;
    outline: none;
    border: 1px solid var(--txt-tertiary);
}

.input-field-wrapper {
    position: relative;
}

.input-field-wrapper label {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 5.5px 0 0 0;
    padding: 0.625rem 0;
    color: var(--txt-tertiary);
    transition: var(--transition-primary);
    cursor: text;
    pointer-events: none;
}

.input-field-wrapper input:focus~label,
.input-field-wrapper input:not([value=""])~label {
    top: -0.8rem;
    left: 10px;
    color: var(--gilde-secondary);
    font-size: 0.75rem;
    background-color: #f0f4f8;
    height: 10px;
    padding: 0 5px;
    cursor: default;
}

.input-field-wrapper input:not([value=""])~label {
    transition: 0.025 ease;
}

.input-field-wrapper input:not(:focus)~label {
    color: var(--txt-tertiary);
}

.register,
.generateInvoice {
    width: 100%;
    display: flex;
    align-items: center;
}

.register input[type="submit"],
.generateInvoice button {
    border: none;
    outline: none;
    border-radius: 32px;
    font-weight: 600;
    font-size: 16px;
    height: 3rem;
    padding: 0.8rem;
    color: var(--txt-primary);
    background-color: var(--gilde-secondary);
    transition: var(--transition-primary);
}

.register:hover input[type="submit"],
.generateInvoice:hover button {
    background-color: var(--gilde-secondary-hover);
    box-shadow: 0 1.8px 2.2px 1.8px var(--shadow-color);
}

