/* scrollbar */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ca2b69;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3255d;
}

/* container */
.messenger-container {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-auto-columns: 1fr;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas:
        "title-wrapper title-wrapper"
        "chat-list chat-view";
    padding: 1rem;
    height: calc(100dvh - 4rem);
}

/* title */
.title-wrapper {
    grid-area: title-wrapper;
    display: flex;
    align-items: center;
}

.title-wrapper span {
    font-size: 38px;
    font-weight: 600;
}

/* algemeen */
.chat-list,
.chat-view {
    border-radius: 1rem;
    padding: 1rem;
}

.subheading-wrapper {
    display: flex;
    align-items: center;
    height: 4rem;
}

.subheading-wrapper span {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--txt-secondary);
}

/* chat list */
.chat-list {
    grid-area: chat-list;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.employee-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.employee {
    height: 4rem;
    width: 100%;
    background-color: #f0f4f8;
    border-radius: 1rem;
}

.employee a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "left right";
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    color: var(--txt-tertiary);
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-wrapper {
    font-size: 12px;
    color: #696969;
}

.right-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.clock-wrapper {
    display: flex;
    align-items: center;
}

.active-wrapper {
    font-size: 12px;
    color: #696969;
}

/* chat view */
.chat-view {
    grid-area: chat-view;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8;
    height: calc(100vh - 10rem);
}

.message-wrapper {
    height: 100%;
    border-radius: 1rem;
    overflow-y: auto;
}

.date-separator {
    margin: 1rem auto 1rem auto;
    width: min-content;
    text-wrap: nowrap;
    color: var(--txt-tertiary);
}

.message-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem 0 0;
}

.message-container.sender {
    margin: 0.5rem 0 0.5rem auto;
}

.message-container.recipient {
    margin: 0.5rem 0 0.5rem 0;
}

.message-container.sender .text-wrapper {
    justify-content: flex-end;
}

.text-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 54px;
    max-width: 75%;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--gilde-secondary);
    color: var(--txt-primary);
    font-weight: 500;
}

.timestamp-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 0 0 1rem;
}

.timestamp {
    color: var(--txt-tertiary);
}

.settings-button {
    background: none;
    border: none;
    cursor: pointer;
}

.message-settings {
    position: relative; /* Add this to ensure the settings menu is positioned relative to this container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-menu {
    display: none;
    position: absolute;
    right: 0; /* Adjust this as needed */
    top: 100%; /* Adjust this to place it below the settings button */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
}

.settings-menu.active {
    display: block;
    width: 108px;
    height: fit-content;
}

.settings-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.settings-menu ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
}

.settings-menu ul li:hover {
    background-color: #f0f0f0;
}

.message-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    width: 100%;
    padding: 1rem 0 0 0;
}

.message-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 1rem;
    height: 100%;
    padding: 0 1rem;
    margin: 0 0 0 0.25rem;
    color: var(--txt-primary);
    background-color: var(--gilde-secondary);
    transition: var(--transition-primary);
}

.message-bar button:hover {
    background-color: var(--gilde-secondary-hover);
    box-shadow: 0 1.8px 2.2px 1.8px var(--shadow-color);
}

.message-bar .message-bar-label:focus {
    outline: none;
    border: 2px solid var(--gilde-secondary);
}

.message-bar .message-bar-label {
    height: 52px;
    width: 500px;
    padding: 13px 15px;
    font-size: 16px;
    border-radius: 4px;
    color: var(--txt-tertiary);
    background-color: #f0f4f8;
    outline: none;
    border: 1px solid var(--txt-tertiary);
}

.message-bar {
    position: relative;
}

.message-bar label {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 4.5px 0 0 0;
    padding: 0.625rem 0;
    color: var(--txt-tertiary);
    transition: var(--transition-primary);
    cursor: text;
    pointer-events: none;
}

.message-bar .message-bar-label:focus~label,
.message-bar .message-bar-label:not([value=""])~label {
    top: -0.8rem;
    left: 10px;
    color: var(--gilde-secondary);
    font-size: 0.75rem;
    background-color: #f0f4f8;
    height: 10px;
    padding: 0 5px;
    cursor: default;
}

.message-bar .message-bar-label:not([value=""])~label {
    transition: 0.025 ease;
}

.message-bar .message-bar-label:not(:focus)~label {
    color: var(--txt-tertiary);
}

.closed-chat-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%
}

.closed-chat-wrapper span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5%;
    width: 37.5%;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--txt-primary);
    background-color: var(--gilde-secondary);
}