::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ca2b69;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3255d;
}

.activities-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 2.6fr;
  grid-auto-columns: 1fr;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "heading-wrapper"
    "search-wrapper"
    "activities-item-wrapper";
    padding: 1rem;
    height: calc(100vh - 4rem);
}

.heading-wrapper {
  grid-area: heading-wrapper;
  display: flex;
  align-items: center;
  font-size: 38px;
  font-weight: 600;
}

.search-wrapper {
  grid-area: search-wrapper;
  background-color: #f0f4f8;
}

.activities-item-wrapper {
  grid-area: activities-item-wrapper;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1rem;
}

.activity-item {
  display: flex;
  flex-direction: column;
  background-color: #f0f4f8;
  padding: 1rem;
  border-radius: 1rem;
}

.employee-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.client-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.assignment-wrapper {
  display: flex;
  flex-direction: column;
}

.subheading {
  font-size: 22px;
  font-weight: 500;
}

.bolder {
  font-weight: 500;
}

.link {
  color: var(--txt-tertiary);
}

.link:hover {
  text-decoration: underline;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #f0f4f8;
}

.search input:focus {
  outline: none;
  border: 2px solid var(--gilde-secondary);
}

.search input {
  width: 100%;
  height: 52px;
  padding: 13px 15px;
  font-size: 16px;
  border-radius: 4px;
  color: var(--txt-tertiary);
  background-color: #f0f4f8;
  outline: none;
  border: 1px solid var(--txt-tertiary);
}

.search {
  position: relative;
}

.search label {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 5.5px 0 0 0;
  padding: 0.625rem 0;
  color: var(--txt-tertiary);
  transition: var(--transition-primary);
  cursor: text;
  pointer-events: none;
}

.search input:focus~label,
.search input:not([value=""])~label {
  top: -0.8rem;
  left: 10px;
  color: var(--gilde-secondary);
  font-size: 0.75rem;
  background-color: #f0f4f8;
  height: 10px;
  padding: 0 5px;
  cursor: default;
}

.search input:not([value=""])~label {
  transition: 0.025 ease;
}

.search input:not(:focus)~label {
  color: var(--txt-tertiary);
}

button {
  display: none;
}